.navigation {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  z-index: 1;

  ul {
    display: flex;
    list-style: none;
    font-size: 1.2em;
    gap: 40px;

    font-family: $content-font;
    font-weight: 600;

    a {
      text-decoration: none;

      li {
        cursor: pointer;
        color: $black_color;
        &:hover {
          color: blue;
        }
      }
    }
  }
}
