.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;

  ul {
    display: flex;
    list-style: none;
    font-size: 1.2em;
    gap: 60px;
    font-family: $content-font;
    font-weight: 600;

    a {
      text-decoration: none;

      li {
        cursor: pointer;
        color: $black_color;

        &:hover {
          color: blue;
        }
      }
    }
  }
}
