.navBar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: $white-color;
  gap: 60px;
  z-index: 5;

  a {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: $brown-color;
    padding-bottom: 10px;
    font-family: $content-font;
    font-weight: 700;
  }

  img {
    width: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .navBar {
    width: 100%;
    height: 70px;
    justify-content: space-around;
    position: relative;

    a {
      font-size: 1.3em;
      font-family: $content-font;
      font-weight: 700;
    }
  }
}
