.recette {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }

  h2 {
    position: absolute;
    font-size: 1.4em;
    color: $white-color;
    font-family: $content-font;
  }
}

@media screen and (min-width: 1280px) {
  .recette {
    width: 100%;

    img {
      width: 80%;
    }
  }
}
