.searchBar {
  width: 280px;
  height: 35px;
  border: 1px solid #000;
  border-radius: 50px;
  margin-top: 40px;
  background-color: $white-color;
  outline: none;
  padding: 0 20px;
}

.search_Button {
  @include verticalCenter;
  gap: 50px;
  margin-top: 30px;
  z-index: 0;

  button {
    width: 100px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    font-family: $content-font;
    font-size: 1em;
    font-weight: 600;
    padding: 10px 5px;
    z-index: 1000;
  }
  &:hover {
    cursor: pointer;
  }

  ::placeholder {
    font-family: $content-font;
    color: gray;
    font-size: 1.2em;
  }
}
