@font-face {
  font-family: "title-font";
  src: url(../assets/fonts/LibreBaskerville-Bold.ttf);
}
@font-face {
  font-family: "content-font";
  src: url(../assets/fonts/QuattrocentoSans-Regular.ttf);
}
$title-font: "title-font", serif;
$content-font: "content-font", sans-serif;
html {
  background-color: #fffae8;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$black_color: #000;
$white_color: #fff;
$brown_color: #442a00;
$pink-color: #fb6f92;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
