.catalogue {
  text-align: center;
  padding: 20px;
  background-color: #fffae8;
  img {
    width: 90px;
    padding-top: 20px;
  }
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
  gap: 10px; /* Espacement entre les images */
  margin: 20px;
  margin-bottom: 100px; /*ligne du bas*/
}

.image-grid img {
  width: 100%; /* Images s'adaptent à la largeur de la colonne */
  height: auto; /* Préserve les proportions */
  object-fit: contain;
  border: 0px #090000; /* Bordure facultative */
  border-radius: 10px; /* Coins arrondis */
}
