.catalogue {
  text-align: center;
  padding: 20px;
}

img {
  width: 90px;
  padding-top: 20px;
}
.page {
  background-color: #fffae8;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
  gap: 10px; /* Espacement entre les images */
  margin: 20px;
  margin-bottom: 100px; /*ligne du bas*/
}

.image-grid img {
  width: 100%; /* Images s'adaptent à la largeur de la colonne */
  height: 100%; /* Préserve les proportions */
  object-fit: contain;
  border: 0px solid #090000; /* Bordure facultative */
  border-radius: 5px; /* Coins arrondis */
}
