.body_Home {
  padding: 0;
  margin: 0;
  width: 360px;
  height: 700px;
  background: url(../../assets/images/image_fond_accueil_modifiee.jpg)
    center/cover;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  h1 {
    font-family: $title-font;
    color: $white-color;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
  }

  input {
    width: 90%;
    height: 25px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
}

.search {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  gap: 20px;
  .title_Img {
    width: 100%;
    h3 {
      font-size: 0.8em;
      position: absolute;
      z-index: 5;
      color: $white-color;
      width: 150px;
      text-align: center;
    }
    img {
      text-align: center;
      position: relative;
      width: 150px;
      height: 100px;
      z-index: 1;
      border-radius: 10px;
    }
  }
}
