.body_recipedetail {
  width: 100vw;
  height: 100%;
  padding-bottom: 10rem;
  background-color: #fffae8;
  h1 {
    text-align: center;
    font-family: $title-font;
  }
  hr {
    width: 75%;
    justify-self: center;
  }
  h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: $title-font;
  }
  ul {
    line-height: 1.5rem;
    list-style-type: circle;
    font-family: $content-font;
  }
  .image_block {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    .recipe_image {
      width: 45vw;
      height: 27vw;
      margin-bottom: 20px;
    }

    .icone-Heart {
      width: 30px;
      margin-bottom: 5px;
    }
  }
}
.ingredients_block {
  width: 100vw;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.materiel_block {
  width: 100vw;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preparation_block {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    width: 70vw;
    font-family: $content-font;
  }
}
@media screen and (min-width: 1280px) {
  .body_recipedetail {
    height: 100vh;
    .preparation_block {
      padding-bottom: 5rem;
    }
  }
}
